<%- include('partials/header.ejs') %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <title>Edit Profile</title>
    <style>
        label{
            padding-top:10px;
        }
        .inputfull {
            width: 100%;
            padding: 5px;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }
        input:focus {
            border-color:grey;
            outline:none;
        }

    </style>

</head>

<body style="background-color:#f0f0f0">  
    <div class="container text-left" style="margin-left:10%;background-color:white">
        <h2>EDIT PROFILE</h2>
            
        <form action='/user/profile/edit/<%= user._id %>' method='POST'>            
            <img src="/uploads/profile/<%=user.photo%>" height="50%" width="40%">
        
            <br>
            <label for="name">Username</label>
            <p><%= user.username  %></p>     

            <label for="name">Name:</label>
            <input name="name" class="inputfull" value="<%= user.name %>" >
            
            <label for="email" >Email:</label>
            <input name="email" class="inputfull" value="<%= user.email %>">

            <label for="phonenumber">Phone Number:</label>
            <input name="phonenumber" class="inputfull" value="<%= user.phonenumber%>">

            <button class="btn btn-primary">SAVE</button>
    
        </form>
            
    </div>
</body>
</html>

<%- include('partials/footer.ejs') %>